In [ ]:
Menghapus Missing Values pada Pandas Data Frame

In [ ]:
note : Import modul pandas menjadi pd

In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

In [7]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

        index         A         B         C         D
0  nBmUbeVyMT  1.227449       NaN -1.969756  0.952569
1  etrDwaZsLf  1.128311 -1.485130  0.032057  0.379480
2  PPapGJC6O0  0.231765 -0.877627  2.077391  0.398185
3  u6GBeMO7on  0.218272 -0.397231 -1.798673  0.588302
4  4vDtEVxlnh -0.768736       NaN -0.838581 -0.386021

In [8]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  nBmUbeVyMT  1.227449       NaN -1.969756  0.952569
1  etrDwaZsLf  1.128311 -1.485130  0.032057  0.379480
2  PPapGJC6O0  0.231765 -0.877627  2.077391  0.398185
3  u6GBeMO7on  0.218272 -0.397231 -1.798673  0.588302
4  4vDtEVxlnh -0.768736       NaN -0.838581 -0.386021

In [10]:
df_backup = df.copy(deep=True)

In [ ]:
Menghapus (drop) pada setiap kolom yang mengandung missing values

In [11]:
df = df.dropna(axis='columns')
df.head()

            Z
0  nBmUbeVyMT
1  etrDwaZsLf
2  PPapGJC6O0
3  u6GBeMO7on
4  4vDtEVxlnh

In [13]:
df = df.backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

AttributeError: 'DataFrame' object has no attribute 'backup'

In [14]:
df = df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.133333
B    0.200000
C    0.033333
D    0.033333
dtype: float64

In [15]:
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         C         D
0  nBmUbeVyMT -1.969756  0.952569
1  etrDwaZsLf  0.032057  0.379480
2  PPapGJC6O0  2.077391  0.398185
3  u6GBeMO7on -1.798673  0.588302
4  4vDtEVxlnh -0.838581 -0.386021

In [16]:
df =df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.133333
B    0.200000
C    0.033333
D    0.033333
dtype: float64