In [ ]:
Memeriksa Kesamaan antar Kolom pada Pandas Data Frame

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
data = {'A':[15, 15, 18, np.nan, 12],
       'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [3]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [4]:
type(df['A'])

pandas.core.series.Series

In [5]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
Membandingkan nilai ditampung oleh kedua buah series

In [6]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [ ]:
Memeriksa kesamaan dengan method equals (df A dengan B) tetap sama saja

In [8]:
df['A'].equals(df['B'])

True

In [14]:
df1 = df.copy(deep=True)

df.equals(dfl)

NameError: name 'dfl' is not defined

In [15]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True

In [ ]:
Note : Jika tujuan ingin membandingkan antara 2 buah data frame apakah data frame 1 dan 2 menampung nilai yang sama, maka cara terbaiknya dengan menggunakan df.equals